body {
    background-color: black;
    text-align: center;
}

#MainHeading {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;

}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

h2 {
    color: white;
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}

img {
    align-items: center;
}

#footer {
    text-align: right;
    color: gray;
}
